<mat-toolbar color="primary">  
  <div class="loggo"><h1>Peace of mind</h1></div> 
  <div class="nav">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      
    </form>
   
  <button mat-button routerLink="/about">About</button>
  <!--admin check needs to be added here so only appers when the user is the admin -->
  <button mat-button routerLink="/admin">admin</button>
  </div>
</mat-toolbar>
<div class="loggo">
  <button mat-button routerLink="/">Home</button> 
  <button mat-button routerLink="/shop">shop</button>
  <button mat-button routerLink="/booking">booking</button>
  <button mat-button routerLink="/hair-style">hair styles</button>
</div>
<hr>
<router-outlet></router-outlet>